

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
#pin: PA8
pin: sb2040:gpio13
kick_start_time: 0.15
## cycle_time: 0.002
## hardware_pwm: False
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.17





[heater_fan hotend_fan]
##  Hotend Fan - FAN1
##  pin: PE5
pin: sb2040:gpio14
max_power: 1.0
kick_start_time: 0.25
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.75

#[controller_fan controller_fan0]
##  Controller fan - FAN2
#pin: PD12
#hardware_pwm: True
#cycle_time: 1
#max_power: 1
#kick_start_time: 2
#heater: heater_bed

[controller_fan controller_fans]
##  Controller fan - FAN3
pin: PD12
cycle_time: 0.00001
hardware_pwm: False
max_power: 0.7
idle_timeout: 120
kick_start_time: 1
heater: heater_bed


#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#shutdown_speed: 0
#max_power: 0.7
#kick_start_time: 1.0
#cycle_time: 0.00002
#hardware_pwm: False
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0


#[fan_generic exhaust_fan]
#pin: PD13
#max_power: 1
#hardware_pwm: True
#cycle_time: 0.02
#kick_start_time: 0.5
#off_below: 0.2
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#   See the "fan" section for a description of the above parameters.

#[temperature_sensor chamber_temperature]
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
#sensor_type: Generic 3950
#sensor_pin: PF5



#[chamber]
#	heating(chamberheater) or cooling (fan)
#control_mode: cooling
#sensor_type: Generic 3950
#sensor_pin: PF5
#pin: PD13
#max_temp: 80
#min_temp: 10
#max_delta: 2

[temperature_fan chamber]
pin: PD13
max_power: 1
#shutdown_speed: 0.7
cycle_time: 0.00002
hardware_pwm: False
kick_start_time: 0.5
off_below: 0.7

#   See the "fan" section for a description of the above parameters.
sensor_type: Generic 3950
sensor_pin: PF5
control: pid
#max_delta: 2
min_temp: 15
max_temp: 60
#   See the "extruder" section for a description of the above parameters.
pid_Kp: 10
pid_Ki: 10
pid_Kd: 0
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
min_speed: 0
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.



[fan_generic nevermore_fans]
pin: PD14
max_power: 1
#hardware_pwm: True
#cycle_time: 0.02
kick_start_time: 0.5
off_below: 0.3
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#   See the "fan" section for a description of the above parameters.



#[controller_fan sb2040-fan]
##  SB2040 5V fan
#pin: sb2040:gpio15
#kick_start_time: 0.5  # full speed to spinn of fan
#fan_speed: 0.6 #reduce speed to 70%
#heater: heater_bed  # enabled when heater bed heating
#stepper: extruder


[heater_fan sb2040-fan]
##  Hotend Fan - FAN1
##  pin: PE5
pin: sb2040:gpio15
kick_start_time: 0.5
heater: heater_bed
heater_temp: 65.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.7

